# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised

**Objetives**
+ List popular languages for Data Science
+ How to run multiple notebooks at the same time
+ Recording experiments and projects

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Plotly

|Data Science Tools|
|------------------|
|Jupyter notebook|
|RStudio|
|DataLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
AHH